
.caro-img{
height: 600px;
}

.header-service{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:20px
}
.service-img{
  height: 300px;
}
.service{
  height: 410px;
}
.animation{
  transition: 0.5s;
}
.animation:hover{
  box-shadow: 10px 10px 30px;
 background-color: white;
 border: 3px solid #00B093;
 border-radius: 5px;
 transform: translateY(-15px);
 color: #00B093;
}
.link{
  text-decoration: none;
}

.service-title{
  color: #00B093;
  text-align: center;
  padding: 20px;
  font-size: 35px;
  font-weight: bold;
}


.ser-btn{
  border: 2px solid #00B093;
  background: none;
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 6px 15px;
  transition: 0.3s;
}
.ser-btn:hover{
  background: #00B093;
  color: white;
}

@media only screen and (max-width:688px) {
  .header-service{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
   
   
}